<div id="<%= dom_id post %>">

<strong>Subject: <%= post.title %> </strong>

<p><strong>Content: <%= post.content %> </strong></p>
    
  <p>
  Posted <%= time_tag post.created_at, "data-local": "time-ago" %>
  </p>
  <p>
  <strong> <%= pluralize post.comments.count, "comment" %> </strong>
  </p>

  


</div>
