<p style="color: green"><%= notice %></p>

  <h4> A blog about anything and everything</h4>

<div id="posts">
  <% @posts.each do |post| %>
  <%= turbo_frame_tag post do %>
    <%= post.title %>
    
  <% end %>

    
<p>
  <%= link_to "Show this post", post %>
</p>
  <% end %>
</div>

<button> <%= link_to "New post", new_post_path %> </button>


